* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

/* HEADER */

header {
  background-color: rgba(71, 77, 80, 0.548);
  height: 65px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}

.header-container {
  font-size: 20px;
}

.logo {
  width: 200px;
  margin-top: 10px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: rgb(255, 255, 255);
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(27, 26, 26, 0.459);
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: nones;
}

/* CONTAINER MENU UTAMA */

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.header-container {
  background-color: rgba(245, 245, 245, 0.315);
  max-width: 1170px;
  width: 100%;
  padding: 15px;
  margin: 0 auto;
  border-radius: 30px;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url("gambar/bg.png");
  background-size: cover;
  color: rgb(88, 55, 34);
  text-align: center;
}

.top-wrapper h1 {
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.instagram {
  background-color: #c32aa3;
}

.shopee {
  background-color: #f22613;
}

.fa {
  margin-right: 5px;
}

/* KATALOG */

.heading {
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
  color: #5f5d60;
}

.grid-container {
  display: grid;
  justify-content: space-around;
  grid-template-columns: 250px 250px 250px 250px;
  /*Make the grid smaller than the container*/
  grid-gap: 20px;
  text-align: center;
}

.grid-container span {
  color: rgb(62, 147, 149);
  font-weight: bold;
}

.txt-contents {
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}

.price {
  margin: 15px 0;
  font-size: 18px;
  color: #322f33;
}

/* FOOTER */

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}

footer p {
  color: #2a2a2a;
  font-size: 12px;
}

footer h4 {
  color: #5f5d60;
}

/* FORM */

.judul {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.form {
  width: 1100px;
  margin: 75px auto 10px auto;
  background-color: whitesmoke;
  opacity: 0.97;
  color: black;
  padding: 20px 120px;
}

/* TABEL DAFTAR DATA */

.daftar-data {
  width: 1100px;
  margin: 75px auto 10px auto;
  background-color: whitesmoke;
  opacity: 0.97;
  color: black;
  padding: 20px 10px;
}